@charset "UTF-8";

.body {
  background-color: #111113;
}

.header {
  background-color: #202024;
}

.hover-starter:hover {
  border: 2px solid #7159c1;
  transition: all 400ms;
}

.hover-launchbase:hover {
  border: 2px solid #FD951F;
  transition: all 400ms;
}

.hover-gostack:hover {
  border: 2px solid #04D361;
  transition: all 400ms;
}